@{
	ViewData["Title"] = "Over ons";
}

<div class="row">

    <div class="col-sm-3 hidden-xs">
        <div id="sidebar" data-spy="affix" role="complementary" class="affix-top">
            <ul>
                <li><a href="#doe-mee">Doe mee!</a></li>
                <li><a href="#contributie">Contributie</a></li>
                <li><a href="#kleding">Kleding</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#statutenhuishoudelijk-reglement">Statuten/huishoudelijk reglement</a></li>
                <li><a href="#avg-privacyverklaring">AVG Privacyverklaring</a></li>
                <li><a href="#gedragscode">Gedragscode</a></li>
                <li><a href="#cookies">Cookies</a></li>
            </ul>
        </div>
    </div>

    <div class="col-sm-9 col-md-7" role="main">

        <h4>Triathlonvereniging Dordrecht biedt je de mogelijkheid om onder deskundige begeleiding te sporten. We bieden wekelijks zwem-, fiets- en looptrainingen aan. Bij iedere training wordt rekening gehouden met jouw niveau.</h4>

        <p>Ieder voorjaar organiseren we een trainingsweekend in Limburg. In het voorjaar organiseren we de Dordste Biesbosch triathlon. De zomer wordt afgesloten met een clubkampioenschap en een gezellige barbecue. Daarnaast worden diverse andere activiteiten georganiseerd.</p>
        
        <h2 id="doe-mee"><a href="#doe-mee" title="Permanente link naar Doe mee!">Doe mee!</a></h2>
        
        <p>Is triathlon iets voor jou? Voel jij je thuis bij onze vereniging? Kom gerust eens kennis maken en doe een paar trainingen vrijblijvend mee. Ja, gratis!</p>
        <p>
            Voor meer informatie mail naar 
            <a href="mailto:info@tvdordrecht.nl">info@tvdordrecht.nl</a>
        </p>
        <p>Wil je lid worden? Vraag dan eerst een lidnummer aan bij de Nederlandse Triathlon Bond via deze link: <a href="https://www.triathlonbond.nl/leden/lid-worden/">klik hier</a></p>
        <p><a href="https://drive.google.com/file/d/1nJIz2R3t43NU0pvmGeiZsJ2dQz9461Rm/view?usp=sharing">Vul vervolgens dit inschrijfformulier in</a>. Je kunt het getekende formulier bij een training inleveren bij één van de bestuursleden.</p>
        <h2 id="contributie"><a href="#contributie" title="Permanente link naar Contributie">Contributie</a></h2>
        <p>De contributie bedraagt per maand (2024):</p>
        <table>
            <tbody>
                <tr>
                    <td>Jeugd</td>
                    <td>(t/m 17 jaar)</td>
                    <td>€ 12,80</td>
                </tr>
                <tr>
                    <td>Junioren</td>
                    <td>(18 t/m 23 jaar)</td>
                    <td>€ 17,48</td>
                </tr>
                <tr>
                    <td>Senioren</td>
                    <td>(24 jaar en ouder)</td>
                    <td>€ 22,04</td>
                </tr>
                <tr>
                    <td>Rustend lid</td>
                    <td></td>
                    <td>€5,51</td>
                </tr>
            </tbody>
        </table>
        <br />
        <p>De contributie is inclusief een basislicentie van de NTB. Met een basislicentie moet je bij deelname aan een wedstrijd een additionele daglicentie aanschaffen.</p>
        <p>Een wedstrijdlicentie (2023) kost € 35,-. Als je een atletenlicentie hebt, krijg je bij inschrijving voor een wedstrijd korting omdat dan de kosten voor de daglicentie vervallen. Voor meer informatie over de licenties kun je terecht op de website van de Nederlandse triathlonbond: <a href="http://www.triathlonbond.nl/Atleten/Lidmaatschapsstructuur.aspx">klik hier</a>.</p>
        <p>Bij opzegging geldt een opzegtermijn van 1 maand, gerekend vanaf de 1e van de volgende maand.</p>
        <div>De verschuldigde contributie zal maandelijks worden geïncasseerd via:</div>
        <div>
            Rekeningnr: NL84 RABO 0127169423<br>
            t.n.v. Triathlonvereniging Dordrecht
        </div>
        <p>onder vermelding van "Contributie TVD" en maand.</p>
        <h2 id="kleding"><a href="#kleding" title="Permanente link naar Kleding">Kleding</a></h2>
        <p>
            We zijn trots op onze clubkleding en zien graag dat onze atleten erin sporten. Daarom bieden we clubkleding aan tegen een aantrekkelijke prijs. Clubkleding kan een aantal keer per jaar besteld worden.&nbsp; Heb je vragen over de kleding, dan kun je je richten tot
            <a href="mailto:kleding@tvdordrecht.nl">kleding@tvdordrecht.nl</a>
        </p>
        <h2 id="contact"><a href="#contact" title="Permanente link naar Contact">Contact</a></h2>
        <p>
            Voor algemene vragen over de vereniging en lidmaatschap kun je je richten tot
            <a href="mailto:info@tvdordrecht.nl">info@tvdordrecht.nl</a>
        </p>
        <p><strong>Bestuur</strong></p>
        <p>
            <a href="mailto:bestuur@tvdordrecht.nl">bestuur@tvdordrecht.nl</a>
        </p>
        <ul>
            <li>Voorzitter: vacant</li>
            <li>
                Secretaris: Jolanda Maarseveen / Iris Vermeulen
                <a href="mailto:secretaris@tvdordrecht.nl">secretaris@tvdordrecht.nl</a>
            </li>
            <li>
                Penningmeester: René Verheij
                <a href="mailto:penningmeester@tvdordrecht.nl">penningmeester@tvdordrecht.nl</a>
            </li>
            <li>Algemeen bestuurslid: Erik Voskuil</li>
        </ul>
        <p><strong>Trainers</strong></p>
        <p>
            <a href="mailto:trainers@tvdordrecht.nl">trainers@tvdordrecht.nl</a>
        </p>
        <ul>
            <li>Albert de Vries (coördinator)</li>
        </ul>
        <p><strong>Kleding</strong></p>
        <p>
            <a href="mailto:kleding@tvdordrecht.nl">kleding@tvdordrecht.nl</a>
        </p>
        <ul>
            <li>Annemiek Nusteling</li>
            <li>Marian de Jong</li>
        </ul>
        <p><strong>Activiteiten</strong></p>
        <p>
            <a href="mailto:activiteiten@tvdordrecht.nl">activiteiten@tvdordrecht.nl</a>
        </p>
        <ul>
            <li>Emiel van Antwerpen</li>
            <li>Marcel Bezemer</li>
        </ul>
        <p><strong>Wedstrijd</strong></p>
        <p>
            <a href="mailto:wedstrijd@tvdordrecht.nl">wedstrijd@tvdordrecht.nl</a>
        </p>
        <ul>
            <li>Natasja Langendam</li>
            <li>Edgar Taale</li>
            <li>Marcel Blommendaal</li>
            <li>Martin van der Ham</li>
        </ul>
        <p><strong>Website</strong></p>
        <p>
            <a href="mailto:website@tvdordrecht.nl">website@tvdordrecht.nl</a>
        </p>
        <ul>
            <li>Laura van der Waal</li>
            <li>Irvin van der Waal</li>
        </ul>
        <h2 id="statutenhuishoudelijk-reglement"><a href="#statutenhuishoudelijk-reglement" title="Permanente link naar Statuten/huishoudelijk reglement">Statuten/huishoudelijk reglement</a></h2>
        <p>Statuten: <a href="https://drive.google.com/open?id=0BwKpeYG4Ls1MdnEzbXRSdGJsVUE">klik hier</a>.</p>
        <p>Huishoudelijk reglement: <a href="https://drive.google.com/open?id=0BwKpeYG4Ls1MdkJqbkpEMWZyRlE">klik hier</a>.</p>
        <h2 id="avg-privacyverklaring"><a href="#avg-privacyverklaring" title="Permanente link naar AVG Privacyverklaring">AVG Privacyverklaring</a></h2>
        <p>AVG Privacyverklaring: <a href="https://drive.google.com/open?id=1ihQLEdSJGQ8UUgwkeMpK5dyEe0OOm9VR">klik hier</a>.</p>
        <h2 id="gedragscode"><a href="#gedragscode" title="Permanente link naar Gedragscode">Gedragscode</a></h2>
        <p>Gedragscode (vrijwillige) medewerkers: <a href="https://drive.google.com/file/d/15C2S6qknRTPgafKDEcHRQ75MfwRazxF4/view?usp=sharing">klik hier.</a></p>
        <h2 id="cookies"><a href="#cookies" title="Permanente link naar Cookies">Cookies</a></h2>
        <p>Deze site maakt gebruik van Google Analytics om bezoekersstatistiek te verzamelen. Deze gegevens zijn geanonimiseerd. Ook maken we gebruik van functionele cookies voor formulieren en inloggen.</p>
    </div>
</div>